:root {
  --yellow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  z-index: 1;

  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav     aside"
    "section aside"
    "footer  aside";
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: var(--yellow);
  grid-area: nav;
}

.navbar__content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 0 80px;

  animation: 2s navbar 0.5s ease-in-out;
}

@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar__content img {
  width: 50px;
}

.navbar__content ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 450px;
}

.navbar__content ul li a {
  text-decoration: none;
  color: var(--red);
  font-weight: 100;
}

.loader {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;

  animation: loader 1s linear forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-circle {
  background-color: var(--yellow);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;

  transform: scale(0);

  animation: loader-circle 1s ease-in-out infinite;
}

.loader-circle:nth-child(1) {
  animation-delay: 0.2s;
}

.loader-circle:nth-child(2) {
  animation-delay: 0.6s;
}

.loader-circle:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes loader-circle {
  0%,
  100% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}
