:root {
  --yellow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  font-size: 62.5%;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  z-index: 1;

  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav     aside"
    "section aside"
    "footer  aside";
  width: 100%;
  height: 100%;
}

/* START NAVBAR */

.navbar {
  grid-area: nav;
  display: flex;
}

.navbar__content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 0 80px;

  animation: 2s navbar 0.5s ease-in-out;
}

@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar__content img {
  width: 50px;
}

.navbar__content ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 450px;
}

.navbar__content ul li a {
  text-decoration: none;
  color: var(--red);
  font-weight: 300;
}

/* END NAVBAR */

/* START CONTENT */

.main-content {
  grid-area: section;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 80px;

  animation: 2s main-content 0.5s ease-in-out;
}

@keyframes main-content {
  0% {
    transform: translateY(-600px);
  }
  100% {
    transform: translateY(0);
  }
}

.main-content p:first-child {
  font-size: 3.6em;
  font-weight: 300;
  margin-left: 30px;
  margin-bottom: -12px;
}

h1 {
  font-size: 4.8em;
  font-weight: 600;
  margin-bottom: 20px;
}

.main-content p:last-child {
  font-weight: 300;
  width: 60%;
}

/* START ASIDE */

.container .aside-content {
  grid-area: aside;
  position: relative;
}

.aside-content .aside__div-yellow {
  width: 50%;
  height: 100%;
  background-color: var(--yellow);
  position: absolute;
  right: 0;
}

.aside-content h2 {
  font-size: 4em;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: -70%;
  transform: translate(-30%, -50%) rotate(-90deg);
  opacity: 0;

  animation: name-superhero 1s linear 2s forwards;
}

.aside-content img {
  position: absolute;
  width: 200px;
  top: 25%;
  left: -35%;
  /* transform: translate(-50%, 100%); */

  animation: move-superhero 2s ease-in-out 0.5s;
}

@keyframes name-superhero {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes move-superhero {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* END ASIDE */

/* END CONTENT */

/* START FOOTER */

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color: var(--yellow);
  border-radius: 0 70px 0 0;
  transform: translateY(100%);

  animation: footer 1s ease-in-out 2s forwards;
}

@keyframes footer {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0px);
  }
}

.footer div {
  display: flex;
  justify-content: center;
  background-color: var(--blue);
  width: 130px;
  height: 50%;
  border-radius: 20px 20px 0 0;
}

.footer div img {
  width: 120px;
  position: absolute;
  bottom: 20px;

  transform: translateY(0px) scale(1);
  transition: transform 0.5s ease-in-out;
}

.footer div:hover img {
  cursor: pointer;
  transform: translateY(-20px) scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* END FOOTER */

/* START LOADER */

.loader {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;

  animation: loader 1.5s linear forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-circle {
  background-color: var(--yellow);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;

  transform: scale(0);

  animation: loader-circle 1s ease-in-out infinite;
}

.loader-circle:nth-child(1) {
  animation-delay: 0.2s;
}

.loader-circle:nth-child(2) {
  animation-delay: 0.6s;
}

.loader-circle:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes loader-circle {
  0%,
  100% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

/* END LOADER */

/* START MODAL */

.modal {
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 3;
}

.hidden {
  display: none;
}

.vissible {
  display: grid;
}

.modal__content {
  display: grid;
  place-items: center;
  align-items: flex-start;
  background-color: white;
  width: 50%;
  height: 50%;
  position: relative;
}

.modal__content .modal__content-close {
  cursor: pointer;
}

.modal__content--slider {
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  position: absolute;
  top: 25%;
}

.modal__content .close {
  position: absolute;
  top: 10%;
  right: 5%;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  display: grid;
  place-items: center;
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--yellow);

  transition: transform 0.5s ease;
}

.card .cards--sh {
  width: 100px;
  height: 120px;
}

#radio-1,
#radio-2,
#radio-3 {
  display: none;
}

#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}
/* END MODAL */
