:root {
  --yellow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  font-size: 62.5%;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  z-index: 1;

  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav     aside"
    "section aside"
    "footer  aside";
  width: 100%;
  height: 100%;
}

/* START NAVBAR */

.navbar {
  grid-area: nav;
  display: flex;
}

.navbar__content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 0 80px;

  animation: 2s navbar 0.5s ease-in-out;
}

@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar__content img {
  width: 50px;
}

.navbar__content ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 450px;
}

.navbar__content ul li a {
  text-decoration: none;
  color: var(--red);
  font-weight: 300;
}

/* END NAVBAR */

/* START CONTENT */

.main-content {
  grid-area: section;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 80px;

  animation: 2s main-content 0.5s ease-in-out;
}

@keyframes main-content {
  0% {
    transform: translateY(-600px);
  }
  100% {
    transform: translateY(0);
  }
}

.main-content p:first-child {
  font-size: 3.6em;
  font-weight: 300;
  margin-left: 30px;
  margin-bottom: -12px;
}

h1 {
  font-size: 4.8em;
  font-weight: 600;
  margin-bottom: 20px;
}

.main-content p:last-child {
  font-weight: 300;
  width: 60%;
}

/* START ASIDE */

.container .aside-content {
  grid-area: aside;
  position: relative;
}

.aside-content .aside__div-yellow {
  width: 50%;
  height: 100%;
  background-color: var(--yellow);
  position: absolute;
  right: 0;
}

.aside-content h2 {
  font-size: 2em;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: -70%;
  transform: translate(-30%, -50%) rotate(-90deg);
  opacity: 0;

  animation: name-superhero 1s linear 2s forwards;
}

.aside-content img {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, 100%); */

  animation: move-superhero 2s ease-in-out 0.5s;
}

@keyframes name-superhero {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes move-superhero {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* END ASIDE */

/* END CONTENT */

/* START LOADER */

.loader {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;

  animation: loader 0s linear forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-circle {
  background-color: var(--yellow);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;

  transform: scale(0);

  animation: loader-circle 1s ease-in-out infinite;
}

.loader-circle:nth-child(1) {
  animation-delay: 0.2s;
}

.loader-circle:nth-child(2) {
  animation-delay: 0.6s;
}

.loader-circle:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes loader-circle {
  0%,
  100% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

/* END LOADER */
